{#<div class="row">#}
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="http://vegasat.ru/images/thumb.BN5X0777_9.png" alt="Кабельный ресивер Dr.HD B25 CI+">
            <div class="caption">
                <h3>Кабельный ресивер Dr.HD B25 CI+</h3>
                <p>Новейший кабельный ресивер в семействе Dr.HD ! Вы еще смотрите каналы в SD качестве?
                    Тогда он летит к вам! Dr.HD B25 CI+ идеально подходит для просмотра HDTV -
                    Телевидения Высокой Четкости.
                </p>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    {#<div class="-underline"><b>Категория:</b> Рессиверы</div>#}
                    <div  style="font-size: 18px">2500 руб.</div>

                </div>

                <div class="col-xs-6">
                    <input type="text" class="spinEdit" />
                    <a href="#" class="btn btn-primary" role="button">В корзину</a>
                </div>
            </div>
            <br />
        </div>
    </div>
{#</div>#}
{#<hr />#}