<ul id="navigation">
    <li>
        <a href="#" id="menu-"><span class="icon "></span>Главная</a>
    </li>
    <li>
        <a href="{{ path('admin_category_list') }}" id="menu-catalog"><span class="icon catalog"></span>Каталог</a>
        <ul class="" style="">
            {% for cat in categories %}
                <li>
                    <a href="{{ path('admin_product_list') }}">{{ cat.title }}</a>
                </li>
            {% endfor %}
            {#<li>#}
                {#<a style="cursor: pointer;">Спутниковое ТВ</a>#}
                {#<ul class="" style="">#}
                    {#<li>#}
                        {#<a href="/admin/attribute/group/index">Спутниковые комплекты</a>#}
                        {#<ul class="" style="">#}
                            {#<a style="cursor: pointer;">Спутниковое ТВ</a>#}
                        {#</ul>#}
                    {#</li>#}
                    {#<li>#}
                        {#<a href="/admin/attribute/index">Спутниковые ресиверы</a>#}
                    {#</li>#}
                    {#<li>#}
                        {#<a href="/admin/attribute/value/index">Спутниковые антенны</a>#}
                    {#</li>#}
                {#</ul>#}
            {#</li>#}
        </ul>
    </li>
    {#<li>#}
        {#<a id="menu-promotions"><span class="icon promotions"></span>Promotions</a>#}
        {#<ul class="" style="">#}
            {#<li>#}
                {#<a href="/admin/promotion/coupon/index">Coupons</a>#}
            {#</li>#}
        {#</ul>#}
    {#</li>#}
    <li>
        <a href="/admin/order/index" id="menu-sales"><span class="icon sales"></span>Продажи</a>
    </li>
    <li>
        <a id="menu-reports"><span class="icon reports"></span>Статистика</a>
        <ul>
            <li>
                <a href="/admin/report/sales/index">Статистика продаж</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="/admin/crm/client/index" id="menu-crm"><span class="icon crm"></span>CRM</a>
        <ul>
            <li>
                <a href="/admin/crm/client/index">Клиенты</a>
            </li>
            <li>
                <a href="/admin/crm/client/group/index">Группы клиентов</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="/admin/cms/page/index" id="menu-cms"><span class="icon cms"></span>CMS</a>
        <ul>
            <li>
                <a href="/admin/cms/page/index">Страницы</a>
            </li>
            <li>
                <a href="/admin/cms/news/index">Новости</a>
            </li>
            <li>
                <a href="/admin/cms/contact/index">Контакты</a>
            </li>
            <li>
                <a href="/admin/cms/media/index">Файлы</a>
            </li>
        </ul>
    </li>
    <li>
        <a id="menu-layout"><span class="icon layout"></span>Общее</a>
        {#<ul>#}
            {#<li>#}
                {#<a href="/admin/layout/box/index">Boxes</a>#}
            {#</li>#}
            {#<li>#}
                {#<a href="/admin/layout/theme/index">Themes</a>#}
            {#</li>#}
        {#</ul>#}
    </li>
    <li></li>
    <li></li>
    {#<li>#}
        {#<a id="menu-integration"><span class="icon integration"></span>Integrations</a>#}
        {#<ul>#}
            {#<li>#}
                {#<a href="/admin/distribution/package/index">Application management</a>#}
                {#<ul>#}
                    {#<li>#}
                        {#<a href="/admin/distribution/package/index">Packages</a>#}
                    {#</li>#}
                {#</ul>#}
            {#</li>#}
        {#</ul>#}
    {#</li>#}
    <li>
        <a id="menu-configuration"><span class="icon configuration"></span>Настройка</a>
        <ul>
            <li>
                <a style="cursor: pointer;">Internationalization</a>
                <ul>
                    <li>
                        <a href="/admin/configuration/intl/locale/index">Languages</a>
                    </li>
                    <li>
                        <a href="/admin/configuration/intl/currency/index">Currencies</a>
                    </li>
                    <li>
                        <a href="/admin/configuration/intl/dictionary/index">Translations</a>
                    </li>
                </ul>
            </li>
            <li>
                <a style="cursor: pointer;">Multistore management</a>
                <ul>
                    <li>
                        <a href="/admin/configuration/multistore/company/index">Companies</a>
                    </li>
                    <li>
                        <a href="/admin/configuration/multistore/shop/index">Shops</a>
                    </li>
                </ul>
            </li>
            <li>
                <a style="cursor: pointer;">Users management</a>
                <ul>
                    <li>
                        <a href="/admin/user/index">Users</a>
                    </li>
                    <li>
                        <a href="/admin/user/group/index">Users groups</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/admin/configuration/payment/index">Payment methods</a>
            </li>
            <li>
                <a href="/admin/configuration/shipping/index">Shipping methods</a>
            </li>
            <li>
                <a href="/admin/configuration/tax/index">Taxes</a>
            </li>
            <li>
                <a href="/admin/unit/index">Units</a>
            </li>
        </ul>
    </li>
</ul>