/* Toggle Styles */
* {
  color: #333;
}
.body {
  background: #EEE !important;
}
h3 {
  margin-top: 0 !important;
  margin-bottom: 30px !important;
  font-size: 16px !important;
}
.title {
  font-size: 17px;
  border-bottom: 1px solid #CCC;
  font-weight: bold;
}
.title div {
  border-bottom: 0;
  display: inline-block;
  padding: 5px 10px;
}
.galery {
  margin: 20px;
}
.navbar {
  background: #EEE;
}
.nav.nav-tabs {
  margin-left: 0;
}
#navigation li:hover > ul {
  display: block;
  margin-top: -2px;
}
#navigation li:hover > ul li:hover > ul {
  display: block;
}
#navigation li:hover > ul li:hover > ul li:hover > ul {
  margin-top: 0px;
  margin-left: -2px;
  display: block;
}
.nav-tabs > li > a {
  color: #444;
}
.tree li {
  padding: 5px;
  font-size: 17px;
}
.btn-primary {
  border-radius: 3px;
  background: #DDD;
}
.btn-primary {
  color: #000;
  background-color: #ABABAB;
  border-color: #797979;
  font-weight: bold;
  font-size: 12px;
  border-radius: 0;
}
.btn-primary:hover {
  color: #000;
  background-color: #ABABAB;
  border-color: #797979;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #000;
  background-color: #ABABAB;
  border-color: #797979;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #000;
  background-color: #ABABAB;
  border-color: #797979;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #000;
  background-color: #ABABAB;
  border-color: #797979;
}
/** */
.btn-danger {
  color: #FFF;
  background-color: #B90515;
  border-color: #9E3B3B;
  font-weight: bold;
  font-size: 12px;
  border-radius: 0;
}
.btn-danger:hover {
  color: #FFF;
  background-color: #B90515;
  border-color: #9E3B3B;
}
.btn-danger:active,
.btn-danger-primary.active,
.open > .dropdown-toggle.btn-danger {
  color: #FFF;
  background-color: #B90515;
  border-color: #9E3B3B;
}
.btn-danger:active:hover,
.btn-danger.active:hover,
.open > .dropdown-toggle.btn-danger:hover,
.btn-danger:active:focus,
.btn-danger.active:focus,
.open > .dropdown-toggle.btn-danger:focus,
.btn-danger:active.focus,
.btn-danger.active.focus,
.open > .dropdown-toggle.btn-danger.focus {
  color: #FFF;
  background-color: #B90515;
  border-color: #9E3B3B;
}
.btn-danger:focus,
.btn-danger.focus {
  color: #FFF;
  background-color: #B90515;
  border-color: #9E3B3B;
}
.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  font-weight: bold;
}
.tabs-left > .nav-tabs > li > a {
  padding-right: 30px;
  margin-top: 2px;
  background: #E8E8E8;
}
textarea {
  max-height: 55px;
}
.treeview ul li span.icon {
  display: inline;
  background: none;
}
