<div class="title"><div>Основная информация о товаре</div></div>
<br />

<div><div>Краткое описание товара</div></div>
<br />
{{ form_widget(form.shortDescription) }}
<br />
<div><div>Основное описание товара</div></div>
<br />
{{ form_widget(form.description) }}
<br />

