<div class="title"><div>Основная информация о товаре</div></div>
<br />

<div class="form-group">
    <label class="col-xs-2">Название</label>
    <div class="col-xs-2">
        <input type="text" class="form-control" placeholder="Арт.">
    </div>
    <div class="col-xs-8">
        <input type="text" class="form-control" placeholder="Название">
    </div>
</div>
<div class="form-group">
    <div class="col-xs-5  col-xs-offset-2">
        <input type="text" class="form-control" placeholder="Бренд">
    </div>
    <div class="col-xs-5">
        <input type="text" class="form-control" placeholder="Модель">
    </div>
</div>
{#<div class="form-group">#}
    {#<label class="col-xs-2">Доп название</label>#}
    {#<div class="col-xs-10">#}
        {#<input type="text" class="form-control">#}
    {#</div>#}
{#</div>#}
<div class="form-group">
    <label class="col-xs-2">URL</label>
    <div class="col-xs-10">
        <input type="text" class="form-control">
    </div>
</div>


