<div class="title"><div>Информация о стоимости</div></div>
<br />

<div class="form-group">
    <label class="col-xs-2">Цены</label>
    <div class="col-xs-2">
        <input type="text" class="form-control" placeholder="Основная">
    </div>
    <div class="col-xs-3">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="typeprice" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Рубли
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="typeprice">
                <li><a href="#">Рубли</a></li>
                <li><a href="#">Доллары</a></li>
            </ul>
        </div>
    </div>
    <div class="col-xs-2">
        <input type="text" class="form-control" placeholder="Оптовая">
    </div>
    <div class="col-xs-3">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="typeprice2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Рубли
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="typeprice2">
                <li><a href="#">Рубли</a></li>
                <li><a href="#">Доллары</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="form-group">
    <label class="col-xs-2">Цена по акции</label>
    <div class="col-xs-3">
        <input type="text" class="form-control">
    </div>
    <label class="col-xs-2">Тип акции</label>
    <div class="col-xs-3">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="typeprice3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Скидка
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="typeprice3">
                <li><a href="#">Скидка</a></li>
                <li><a href="#">Товар дня</a></li>
                <li><a href="#">Популярный</a></li>
            </ul>
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />