<div class="title"><div>Рекомендованные товары</div></div>
<br />
{{ render(controller('AdminBundle:Api:getProductModal', {'type' : 'recomendated'})) }}

<div class="text-right">
    <button type="button" class="btn btn-primary add-category">Добавить товар</button>
</div>
<br />