<div class="title"><div>СЕО товара</div></div>
<br />
<div class="form-group">
    <label class="col-xs-2">Мета заголовок</label>
    <div class="col-xs-10">
        {{ form_widget(form.metaTitle) }}
    </div>
</div>
<div class="form-group">
    <label class="col-xs-2">Ключевые слова</label>
    <div class="col-xs-10">
        {{ form_widget(form.metaKeyword) }}
    </div>
</div>
<div class="form-group">
    <label class="col-xs-2">Мета описание</label>
    <div class="col-xs-10">
        {{ form_widget(form.metaDescription) }}
    </div>
</div>